html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: white;
}

.mode-tog{
    background: black;
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 3;
    transition: 1000ms;
    border-radius: 50%;
}

.mode-tog.active{
    background: white;
    transition: 1000ms;
}

.container{
    position: absolute;
    right: 50px;
    top: 50px;
    width: 20px;
    height: 20px;
}

.dark-mode{
    position: fixed;
    left: calc(100% - 60px);
    top: 60px;
    width: 220vmax;
    height: 220vmax;
    border-radius: 50%;
    background: #161616;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    transition: transform 1000ms ease-in-out;
    z-index: 1;
    pointer-events: none;
}

.dark-mode.active{
    transform: translate(-50%, -50%) scale(1);
}

h2{
    position: absolute;
    color: white;
    mix-blend-mode: difference;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    z-index: 2;
}

@media screen and (max-width: 768px){
    .dark-mode{
        width: 260vmax;
        height: 260vmax;
    }
}
