html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: white;
}

.mode-tog{
    background: black;
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 2;
    transition: 1000ms;
    border-radius: 50%;
}

.mode-tog.active{
    background: white;
    transition: 1000ms;
}

.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50px;
    top: 50px;
    width: 20px;
    height: 20px;
}

.dark-mode{
    position: relative;
    transform: scale(0);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 250vw;
    height: 250vh;
    border-radius: 50%;
    background: #161616;
    transition: 1000ms ease-in-out;
    display: flex;
    flex: 0 0 auto;
}

.dark-mode.active{
    transform: scale(1);
    transition: 1000ms ease-in-out;
}

h2{
    position: absolute;
    color: white;
    mix-blend-mode: difference;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px){
    .dark-mode{
        width: 250vw;
        height: 250vh;
        

    }
}